<div class="bg-primary text-white m-2 p-2">
    There are {{model.getProducts().length}} products in the repository
</div>

<h2>Product ın ücretine göre div lere class verilir</h2>
<div [class]="getClasses(1)">
    Katalogdaki ilk ürün {{ model.getProductById(1).name }}
</div>

<div [class]="getClasses(2)">
    Katalogdaki ikinci ürün {{ model.getProductById(2).name }}
</div>
 
<h2>product.component.ts dosyasındaki disabled değerine göre eğer true ise "btn btn-primary disabled" olarak class a eklenir, false ise eklenmez</h2>
<button class="btn btn-primary" [class.disabled]="disabled" >Submit</button>

<h2>Burda div e bazı class lar eklenmiş, ben ekstradan bazı koşullara göre yeni class eklemek istersem</h2>
<div class="m-2 p-2" [ngClass]="getClassMap(1)">
    Katalogdaki ilk ürün {{ model.getProductById(1).name }}
</div>

<div class="m-2 p-2" [ngClass]="getClassMap(2)">
    Katalogdaki ikinci ürün {{ model.getProductById(2).name }}
</div>
